button {
    width: 106px;
    height: 46px;
    background-color: #6363DB;
    border-radius: 8px;
    font-size: 1rem;
    font-family: 'Noto Sans', serif;
    color: #ebebfc;
    text-align: center;
    outline: none;
    padding: 0 0.87rem;
    border: 2px solid #4f4fb9;
    
}